# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env
.schwab_tokens.json

# Backups
release/

# OS
.DS_Store

# IDE
.vscode/
.idea/
.gemini/

#.clt
./docs/gcp.txt
./docs/idea.txt
./docs/Temp.txt
deploy/moomoo_opend/OpenD.xml
deploy/moomoo_opend/data/*
!deploy/moomoo_opend/data/.gitkeep
API/Moomoo/OpenD_Ubuntu/moomoo_OpenD_10.4.6408_Ubuntu18.04.tar.gz
